html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #111213;
    background-image: linear-gradient(#061933 18%, rgba(54, 129, 232, 0.33) 48%, rgba(47, 74, 111, 0.33) 66%, rgba(18, 43, 77, 0) 100%);
}

/* header */

.logo {
    margin: 30px;
    width: 115px;
    height: 95px;
}

.hollow-button {
    position: absolute;
    margin: 30px;
    top: 0;
    right: 0;
    width: 400px;
    height: 90px;
    text-align: center;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: Roboto;
    font-size: 36px;
    color: white;
    font-weight: 100;
    background-color: transparent;
    border-radius: 100px;
    border: .5px solid #0069fa;
}

/* hero */

.full-button {
    width: 400px;
    height: 101px;
    text-align: center;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: Roboto;
    font-size: 36px;
    color: white;
    font-weight: 100;
    line-height: normal;
    margin-left: 320px;
    margin-top: 75px;
    background-color: #0069fa;
    border-radius: 100px;
    border: .5px solid #0069fa;
}

.hero-text {
    text-align: left;
    line-height: normal;
    margin-left: 320px;
    margin-top: 100px;
    width: 474px;
    height: 251px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 700;
}

.sub-head {
    text-align: right;
    line-height: normal;
    margin-left: 320px;
    width: 475px;
    height: 150px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
}

.subtext {
    text-align: left;
    line-height: normal;
    width: 467px;
    height: 84px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
}

/* text styles */

.page-heading {
    line-height: normal;
    width: 475px;
    height: 150px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
}

.centered-text {
    line-height: normal;
    width: 649px;
    height: 150px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
}

.sub-head2 {
    line-height: normal;
    padding-top: 38px;
    width: 475px;
    height: 126px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
}

.call-action {
    padding-top: 60px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 900;
}

i {
    border: 1px solid #bd343f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.bold-copy {
    width: 362px;
    height: 56px;
    padding-top: 30px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
}

.reg-copy {
    width: 343px;
    height: 84px;
    padding-top: 10px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
}


.gallery {
    padding: 15px 10 0 15px;
    margin: 0 auto;
}

.gallery li {
    margin: 0 15px 15px 0;
    float: left;
}

li {
    list-style: none;
}

/* image adjustments */

.hero-img {
    width: 336px;
    height: 670px;
    margin-left: 250px;
    margin-top: 200px;
}

.post {
    width: 181px;
    height: 181px;
}

#headphones {
    padding-top: 100px;
    width: 100%;
}

.img-hor {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}